{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <div style="display: flex; gap: 10px">
            <form action="product-feed-ya-business/" method="POST">
                {% csrf_token %}
                <input type="submit" value="Фид для Я.Бизнесd"/>
            </form>
            <form action="product-feed-ya-webmaster/" method="POST">
                {% csrf_token %}
                <input type="submit" value="Фид для Я.Вебмастер"/>
            </form>
            <form action="change-price-by-evotor/" method="POST">
                {% csrf_token %}
                <input type="submit" value="Обновить цены, используя эвотор"/>
            </form>
        </div>  
    </div>

    <br />
    {{ block.super }}
{% endblock %}